:root {
  --light-blue: #87d3f0;
  --grayish-blue: #5ca7c3;
  --dark-blue: #236078;
  --dirty-white: #efefef;
  --rough-black: #2e2e2e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
main {
  width: min(100% - 30px, 1400px);
  margin: auto;
}
body {
  background: var(--dirty-white);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  background: var(--grayish-blue);
  line-height: 70px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100% - 30px, 1350px);
  margin: auto;
}
nav h1 {
  color: var(--rough-black);
  font-size: clamp(1.9rem, 2.5vw, 2.3rem);
}
nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
nav ul li {
  color: var(--rough-black);
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.sign-container {
  display: grid;
  place-items: center;
}
.sign-container img {
  aspect-ratio: 1/1;
  height: 50px;
  display: block;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icon-container img {
  aspect-ratio: 1/1;
  height: 50px;
  display: block;
}

/* Form CSS */
.form-container {
  background: var(--dark-blue);
  width: min(100% - 30px, 800px);
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 30px;
}
.form-container h1 {
  text-align: center;
  color: var(--dirty-white);
}
.form-container .form-wrapper {
  width: 100%;
  margin: 20px auto;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container form .form-element {
  display: flex;
  flex-direction: column;
}
form span {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--dirty-white);
}
form input {
  padding: 8px 20px;
  font-size: clamp(0.8rem, 1.6vw, 1.2rem);
  border-radius: 40px;
}

form button {
  padding: 8px 10px;
  font-size: clamp(1rem, 1.6vw, 1.3rem);
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  background: var(--light-blue);
}
.form-container p {
  color: var(--rough-black);
}
