:root {
  --light-blue: #87d3f0;
  --grayish-blue: #5ca7c3;
  --dark-blue: #236078;
  --dirty-white: #efefef;
  --rough-black: #2e2e2e;
}
.list-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100svh;
}
.list-content {
  width: 100%;
  padding: 0 15px;
}
.patients-container {
  display: grid;
  grid-template-columns: 1.2fr 0.5fr 1fr 1.4fr 1.4fr 0.5fr 0.5fr;
  gap: 10px;
}
.patients-container .container-title {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bold;
}
.patients-container p {
  margin: 15px 0;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btns button {
  cursor: pointer;
}
.delete-btn {
  background-color: red;
  color: #fff;
}
.chart-btn {
  background: var(--light-blue);
  color: var(--rough-black);
  width: 100%;
}
.list-container .actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}
.list-container .actions button {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background: var(--rough-black);
  color: var(--dirty-white);
}
.list-container .actions button:hover {
  color: var(--rough-black);
  background: var(--dirty-white);
}
.list-container .actions input {
  padding: 10px;
  width: min(100% - 25px, 500px);
  border-radius: 20px;
}
.patient-name {
  text-decoration: underline;
  cursor: pointer;
}
.patient-name:hover {
  color: blue;
}
