:root {
  --light-blue: #87d3f0;
  --grayish-blue: #5ca7c3;
  --dark-blue: #236078;
  --dirty-white: #efefef;
  --rough-black: #2e2e2e;
}
.patients-container {
  display: grid;
  grid-template-columns: 1.4fr 0.5fr 1fr 1.4fr 1.4fr;
}
.patients-container .container-title {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bold;
}
.patients-container p {
  margin: 15px 0;
}
