:root {
  --light-blue: #87d3f0;
  --grayish-blue: #5ca7c3;
  --dark-blue: #236078;
  --dirty-white: #efefef;
  --rough-black: #2e2e2e;
}
.appointment-container {
  display: flex;
  justify-content: space-between;
  height: 100svh;
}
.appointment-content {
  width: 100%;
  padding: 0 10px;
}
.list {
  display: grid;
  grid-template-columns: 2fr 0.6fr 1fr 1.5fr 1fr 1fr;
  gap: 10px;
}
.list p {
  color: var(--rough-black);
  margin: 10px 0;
  font-size: clamp(0.5rem, 2vw, 1rem);
}
