:root {
  --light-blue: #87d3f0;
  --grayish-blue: #5ca7c3;
  --dark-blue: #236078;
  --dirty-white: #efefef;
  --rough-black: #2e2e2e;
}
.appointments-container {
  padding: 20px 0;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  height: 100svh;
  gap: 10px;
}
.left-container {
  width: 100%;
  background: var(--dark-blue);
  border-radius: 25px;
  padding: 15px;
}
.left-container-logo {
  display: flex;
  color: var(--dirty-white);
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.left-container-logo img {
  aspect-ratio: 1/1;
  height: 100px;
  border-radius: 50%;
}
.left-content h1 {
  color: #fff;
  margin-bottom: 20px;
}
.left-content .days-available {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.left-content .days-available h2 {
  color: #fff;
}
.left-content span {
  color: var(--dirty-white);
}
.left-content .days-available .day {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.left-content .days-available h3 {
  background: var(--rough-black);
  padding: 10px 20px;
  color: var(--dirty-white);
}
.left-details h3 {
  color: var(--dirty-white);
}
.right-container {
  width: 100%;
  padding: 5px;
}
.right-container .pair-elements {
  display: flex;
  justify-content: start;
  margin: 10px 0;
}
.right-container .pair-elements input {
  width: 100%;
}
.form-input-container {
  margin-top: 40px;
}
