:root {
  --light-blue: #87d3f0;
  --grayish-blue: #5ca7c3;
  --dark-blue: #236078;
  --dirty-white: #efefef;
  --rough-black: #2e2e2e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
.clinic-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100svh;
}
.clinic-nav {
  background: var(--light-blue);
  height: 100%;
  width: 200px;
  padding: 20px 10px;
}
.clinic-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clinic-nav ul li {
  color: var(--rough-black);
  padding: 8px 0;
}
.clinic-content {
  width: 100%;
  padding: 0 10px;
}
.clinic-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.clinic-content header .logo {
  aspect-ratio: 1/1;
  width: 60px;
  border-radius: 50%;
}
.clinic-content header button {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 20px;
}
.clinic-content header button:hover {
  background: var(--dark-blue);
  color: var(--dirty-white);
}
